.courses-table {
    display: table;
    width: 100%;
}

.courses-row {
    display: table-row;
    width: 100%;
}

.courses-header {
    display: table-cell;
}

ul.connectedSortable {
    width: 50%;
    list-style-type: none;
    display: table-cell;
}

ul.connectedSortable li {
    list-style-type: none;
}

#available-courses li {
    background-color: #e6e6e6;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0px 10px;
}

#available-courses li:hover {
    cursor: move;
}

.reveal-modal div.confirm-buttons {
    width: 200px;
    margin: 0 auto;
}

.reveal-modal div.confirm-buttons .confirm-button, .reveal-modal div.confirm-buttons .cancel-button {
    width: 40%;
}