/******************************
Buttons
******************************/
#add-patients {
    margin-left: 1rem;
    padding: .5rem .3rem .5rem 0.3rem;
}

/******************************
Manage Patients Table
******************************/
.courses-table {
    display: table;
    width: 100%;
}

.courses-row {
    display: table-row;
    width: 100%;
}

.courses-header {
    display: table-cell;
}

.manage-patients-table-wrapper {
    max-width: 100%;
    overflow-x: scroll;
}

.manage-patients-table {
    border-spacing: 0;
    border: 0;
}

.manage-patients-table td {
    border-bottom: 1px solid #e6e6e6;
    padding: .875rem;
}

/******************************
Sortable Courses
******************************/
ul.connectedSortable {
    width: 50%;
    list-style-type: none;
    display: table-cell;
}

ul.connectedSortable li {
    background-color: #FFF;
    border: 1px solid #e6e6e6;
    box-shadow: 1px 1px 3px 0px rgba(125, 125, 125, 0.2);
    list-style-type: none;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem 1rem 1rem 0rem;
}

ul.connectedSortable li:hover {
    cursor: move;
}

/******************************
Confirm Reveal Modal
******************************/
.reveal-confirm-modal {
    text-align: center;
}

.reveal-modal div.confirm-buttons {
    width: 200px;
    margin: 0 auto;
}

.reveal-modal div.confirm-buttons .confirm-button, .reveal-modal div.confirm-buttons .cancel-button {
    width: 40%;
}

.confirm-heading {
    font-size: 1.5rem;
}


/******************************
TableSorter
******************************/
.tablesorter-pager select {
    padding-left: .3rem;
    width: 3rem;
}
.tablesorter-default thead .headerSortUp,
.tablesorter-default thead .tablesorter-headerSortUp,
.tablesorter-default thead .tablesorter-headerAsc{
    border-color: #2a819f;
}
.tablesorter-default thead .headerSortDown,
.tablesorter-default thead .tablesorter-headerSortDown,
.tablesorter-default thead .tablesorter-headerDesc{
    border-color: #2a819f;
}

/*****************************
Modals
*****************************/
#modify-courses-modal {
    position: absolute;
}

#edit-patient-modal {
    position: absolute;
}

.spinner {
    background-image: url(../images/spinner.gif);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    text-align: center;
    z-index: 1000;
    overflow: auto;
    width: 50px;
    height: 52px; /* +2px to fix IE8 */
    display: none;
}